# Lien racine (pas de /index.php)
DirectoryIndex index.php
# Redirections différentes pages
RewriteEngine On
# /list.php -> /list
RewriteCond %{THE_REQUEST} /pages/list\.php [NC]
RewriteRule ^pages/list\.php$ /list [L,R=301]
RewriteRule ^list$ /pages/list.php [L]
# /form.php -> /form
RewriteCond %{THE_REQUEST} /pages/form\.php [NC]
RewriteRule ^pages/form\.php$ /form [L,R=301]
RewriteRule ^form$ /pages/form.php [L]
# /panel.php -> /panel (admin page)
RewriteCond %{THE_REQUEST} /pages/panel\.php [NC]
RewriteRule ^pages/panel\.php$ /panel [L,R=301]
RewriteRule ^panel$ /pages/panel.php [L]
# /login.php -> /login (login page)
RewriteCond %{THE_REQUEST} /pages/login\.php [NC]
RewriteRule ^pages/login\.php$ /login [L,R=301]
RewriteRule ^login$ /pages/login.php [L]
# Time Zone
SetEnv TZ Europe/Paris
# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>
# Prevent directory listings
Options All -Indexes
# Pages d'erreurs
ErrorDocument 403 "Désolé, vous n'avez pas le droit d'accéder à ce fichier"