# Lien racine (pas de /index.php)
DirectoryIndex /public/index.php
# Redirections différentes pages
RewriteEngine On
# Règles de redirection
# /list
RewriteCond %{THE_REQUEST} \s/+list\.php [NC]
RewriteRule ^ /list [L,R=301]
RewriteRule ^list$ templates/pages/list.php [L]

# /form
RewriteCond %{THE_REQUEST} \s/+form\.php [NC]
RewriteRule ^ /form [L,R=301]
RewriteRule ^form$ templates/pages/form.php [L]

# /panel (admin page)
RewriteCond %{THE_REQUEST} \s/+panel\.php [NC]
RewriteRule ^ /panel [L,R=301]
RewriteRule ^panel$ templates/admin/dashboard.php [L]

# /login
RewriteCond %{THE_REQUEST} \s/+login\.php [NC]
RewriteRule ^ /login [L,R=301]
RewriteRule ^login$ templates/auth/login.php [L]
# Time Zone
SetEnv TZ Europe/Paris
# Prevent viewing of .htaccess file
<Files .htaccess>
    order allow,deny
    deny from all
</Files>
# Prevent directory listings
Options All -Indexes
# Protect sensitive directories
RewriteRule ^(config|src) - [F]
# Pages d'erreurs
ErrorDocument 403 "Désolé, vous n'avez pas le droit d'accéder à ce fichier"
ErrorDocument 404 "Vous êtes perdu, je crois"