parameters:
    level: 6
    paths:
        - config
        - public
        - src
    excludePaths:
        - vendor/*
        - var/cache/*
    ignoreErrors:
        - '#Constant ROOT_PATH not found#'